<div class="sidebar__button-open do-show-filters">
	<a href="javascript:;">
		Покажи навигация
	</a>
</div>
<aside class="sidebar medium-12 large-3 columns do-filters-to-open">
	<a href="javascript:;" class="button button--big sidebar__button do-close-filters">
		Затвори
	</a>
	<div class="sidebar__content">
		<header class="sidebar__content__header">
			<h4 class="sidebar__content__title">
				<a href="/admin/home">
					<img src="http://ecommerce/assets/build/img/logo.png" 
						alt="E-commerce" 
						width="278" 
						height="20" 
					/>
				</a>
			</h4>
		</header>
		<div class="sidebar__content__cnt">
			<ul class="sidebar__content__list">
				<li>
					<a href="/admin/users">
						Клиенти
					</a>
				</li>
				<li>
					<a href="/admin/categories">
						Категории
					</a>
				</li>
				<li>
					<a href="/admin/producers">
						Производители
					</a>
				</li>
				<li>
					<a href="/admin/products">
						Продукти
					</a>
				</li>
				<li>
					<a href="/admin/orders">
						Поръчки
					</a>
				</li>
				<li>
					<a href="/admin/pages">
						Страници
					</a>
				</li>
				<li>
					<a href="/admin/contacts">
						Запитвания
					</a>
				</li>
				<li>
					<a href="/admin/promotions">
						Слайдер
					</a>
				</li>
				<li>
					<a href="javascript:;" ng-click="logoutAdmin()">
						Изход
					</a>
				</li>
			</ul>
		</div>
	</div>
</aside>