<article class="popup">
	<header class="popup__header">
		<h2>
			{{alert.title}}
		</h2>
	</header>
	<div class="popup__content">
		<div class="notitification-placeholder">
			<span class="notitification-placeholder__icon">
				<svg viewBox="0 0 490.4 490.4">
				   <use xlink:href="http://ecommerce/assets/build/img/sprite.svg#icon_success"></use>
				</svg>
			</span>
			<p class="notitification-placeholder__message">
				{{alert.message}}
			</p>
			<a href="javascript:;" class="notitification-placeholder__button button" ng-click="closeThisDialog()">
				Добре
			</a>
		</div>
	</div>
</article>