<article class="popup">
	<header class="popup__header">
		<span class="popup__close" ng-click="closeThisDialog()">
			<svg viewBox="0 0 475.2 475.2">
			   <use xlink:href="http://ecommerce/assets/build/img/sprite.svg#icon_close"></use>
			</svg>
		</span>
		<h2>
			Смяна на парола
		</h2>
	</header>
	<div class="popup__content">
		<form ng-controller="UserChangePasswordController" autocomplete="off" name="changePasswordForm">
            <div class="form-notification form-notification--error" ng-show="changePasswordForm.pass_repeat.$error.pwmatch">
            	Паролите не съвпадат
            </div>
			<ul>
				<li class="input">
					<label for="change_password_new_password" class="input__label">
						Нова парола
					</label>
					<input type="password" class="input__field" value="" ng-model="user.pass" id="change_password_new_password" name="password" required="required" ng-minlength="6"  />
				</li>
				<li class="form-notification form-notification--error" ng-if="changePasswordForm.password.$error.minlength">
                	Паролата трябва да съдържа поне 6 символа
                </li>
				<li class="input">
					<label for="change_password_new_password_repeat" class="input__label">
						<span class="input__label-content">
							Нова парола (повтори)
						</span>
					</label>
					<input type="password" class="input__field" value="" ng-model="user.pass_repeat" name="pass_repeat" id="change_password_new_password_repeat" required="required" ng-minlength="6" 
						pw-check="change_password_new_password"  
					/>
				</li>
				<li class="form-notification form-notification--error" ng-if="changePasswordForm.pass_repeat.$error.minlength">
                	Паролата трябва да съдържа поне 6 символа
                </li>
			</ul>

			<footer class="popup__footer">
				<button type="submit" class="button--big" ng-click="ChangePassword(user)" ng-disabled="changePasswordForm.$invalid">
					Смени
				</button>
			</footer>
		</form>
	</div>
</article>