<article class="popup">
	<header class="popup__header">
		<span class="popup__close" ng-click="closeThisDialog()">
			<svg viewBox="0 0 475.2 475.2">
			   <use xlink:href="http://ecommerce/assets/build/img/sprite.svg#icon_close"></use>
			</svg>
		</span>
		<h2>
			Забравена парола
		</h2>
	</header>
	<div class="popup__content">
		<form ng-controller="UserForgotPassword" autocomplete="off" name="forgotPasswordForm">
            <div class="form-notification form-notification--error" ng-show="forgotPasswordForm.pass_repeat.$error.pwmatch">
            	Паролите не съвпадат
            </div>
			<ul>
				<li class="input">
					<label for="forgot_password_email" class="input__label">
						И-мейл
					</label>
					<input type="email" class="input__field" value="" ng-model="user.mail" id="forgot_password_email" required="required" />
				</li>
				<li class="input">
					<label for="forgot_password_new_password" class="input__label">
						Нова парола
					</label>
					<input type="password" class="input__field" value="" ng-model="user.pass" id="forgot_password_new_password" name="password" required="required" ng-minlength="6" />
				</li>
				<li class="form-notification form-notification--error" ng-if="forgotPasswordForm.password.$error.minlength">
                	Паролата трябва да съдържа поне 6 символа
                </li>
				<li class="input">
					<label for="forgot_password_new_password_repeat" class="input__label">
						Нова парола (повтори)
					</label>
					<input type="password" class="input__field" value="" ng-model="user.pass_repeat" name="pass_repeat" id="forgot_password_new_password_repeat" required="required" ng-minlength="6" 
						pw-check="forgot_password_new_password" 
					/>
				</li>
				<li class="form-notification form-notification--error" ng-if="forgotPasswordForm.pass_repeat.$error.minlength">
                	Паролата трябва да съдържа поне 6 символа
                </li>
			</ul>

			<button type="submit" class="button--big" ng-click="ForgotPassword(user)" ng-disabled="forgotPasswordForm.$invalid">
				Изпрати
			</button>
		</form>
	</div>
</article>