<section class="page">
	<header class="page__header">
		<h1 class="page__title">
			Списък с производители
		</h1>

		<a href="javascript:;" class="button page__button" ng-click="AddProducer()">
			Добави производител
		</a>
	</header>

	<div class="page__content shell">
		<div class="row">
			<ng-include src="'http://ecommerce/partials/admin_sidebar.html'"></ng-include>

			<div class="sidebar-neighbor medium-12 large-9 columns">
				<form class="sidebar-neighbor medium-12 large-9 columns" ng-if="producers.length">
					<ng-include src="'http://ecommerce/partials/admin_page_search.html'"></ng-include>

					<table>
						<thead>
							<tr>
								<th>
									Име
								</th>
								<th>
									Опции
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="producer in producers | filter:searchFilter | orderBy:'-ProducerId'">
								<td>
									#{{producer.ProducerId}} <a href="javascript:;">{{producer.ProducerName}}</a>
								</td>
								<td class="small">
									<ul class="row">
										<li class="small-6 columns">
											<a href="javascript:;" class="button button--big button--icon" ng-click="EditProducer(producer.ProducerId)">
												<svg viewBox="0 0 486.4 486.4">
				                                   <use xlink:href="http://ecommerce/assets/build/img/sprite.svg#icon_edit"></use>
				                                </svg>
											</a>
										</li>
										<li class="small-6 columns">
											<a href="javascript:;" class="button button--big button--icon" ng-click="DeleteProducer(producer.ProducerId)">
												<svg viewBox="0 0 486.4 486.4">
				                                   <use xlink:href="http://ecommerce/assets/build/img/sprite.svg#icon_remove"></use>
				                                </svg>
											</a>
										</li>
									</ul>
								</td>
							</tr>
						</tbody>
					</table>
				</form>

				<div class="notitification-placeholder" ng-if="!producers.length">
					<span class="notitification-placeholder__icon">
						<svg viewBox="0 0 488.3 488.3">
						   <use xlink:href="http://ecommerce/assets/build/img/sprite.svg#icon_document"></use>
						</svg>
					</span>
					<h2 class="notitification-placeholder__title">
						Няма добавени производители
					</h2>
					<p class="notitification-placeholder__message">
						За момента няма добавени производители
					</p>
					<a href="javascript:;" class="button notitification-placeholder__button" ng-click="AddProducer()">
						Добави производител
					</a>
				</div>
			</div>
		</div>
	</div>
</section>